/* Sticky footer styles
 -------------------------------------------------- */
html, body {
	height: 100%;
	font-family: 'Roboto', sans-serif;
	font-size: 93%;

}
#wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -60px;
	padding: 0 0 60px;
}
/* Set the fixed height of the footer here */
#footer {
	height: 60px;
	background-color: #444444;
	color: #FFFFFF;
	opacity: 80%;
	border-radius: 0px;
}

#wrap > .container {
	padding: 60px 15px 0;
}
.container .credit {
	margin: 20px 0;
}
#footer > .container {
	padding-left: 15px;
	padding-right: 15px;
}
code {
	font-size: 60%;
}