.menu-right {
	padding: 100;
	height: 400px;
	text-align: right;
	padding-top: 10px;
	padding-right: 10px;
	padding-left: 10px;
}

.my-stuff {
	padding-top: 10px;
	padding-right: 10px;
	padding-left: 10px;
}

.menu-left {
	padding-top: 10px;
	padding-right: 10px;
	padding-left: 10px;
	height: 500px;
	text-align: left;
}
