.navbar {
	background-color:#444444;
	color:#FFFFFF;
	opacity:80%;
	border-radius:0px;
}
footer {
	background-color:#444444;
	color:#FFFFFF;
	opacity:80%;
	border-radius:0px;
}

h1{
	font-size: 25px;
}
