body{
	margin: 50px;
	background-color: #FFAAAA;
	color: #333333;
}

#box{
	width: 100px;
	height: 100px;
	text-align: center;
	padding: 10px;
	border-color:#003333;
	border-width:  : 2px;
	background: #009999;
	font-size: 14px;
}
